.result-class {
    width: 100%;
    background-color: darkseagreen;
    display: flex;
    flex-wrap: wrap;
}

.answer {
    margin: 0 auto;
    justify-content: center;

}

.answer-label {
    width: 40px;
    height: 40px;
    background-color: white;
    color: black;
    display: block;
    float: left;
    margin: 10px;
    text-align: center;
    line-height: 40px;
}

.title-label {
    width: 100%;
    height: 20px;
    padding: 20px 0 0 20px;
}

.result-label {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.red {
    color: red;
}

.green {
    color: green;
}
