.new-card {
    width: 100%;
    margin-top: 20px;
    text-align: center;

}
.new-card button {
    width: 180px;
    height: 40px;
    background-color: cornflowerblue;
    color: white;
    margin-top: 40px;
    border-style: none;
    font-size: 20px;
}
