.show-result {
    width: 100%;
    text-align: center;
}
.show-result button{
    width: 180px;
    height: 40px;
    background-color: orangered;
    color: white;
    margin-top: 40px;
    border-style: none;
    font-size: 20px;
}
