.guess-class {
    width: 100%;
    background-color: mediumslateblue;
    padding: 20px;
}

.guess-class-body button {
    width: 180px;
    height: 40px;
    background-color: green;
    color: white;
    margin-top: 40px;
    border-style: none;
    font-size: 20px;
}

.guess-class-body input {
    width: 180px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    font-size: 20px;
    border-style: none;
}

.guess-class-body {
    text-align: center;
}
